.alyfundation {
    &-paragraph {
        color: var(--color-text-title);
        text-align: center;
        margin-bottom: 1.5rem;
        margin-top: .6rem;
        position: relative;
        z-index: 1;
    }
    &-form {
        position: relative;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr;
        height: 100%;
        z-index: 1;
    }
    &-form-2 {
        position: relative;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 3fr 0fr 1fr;
        height: 100%;
        z-index: 1;
    }
    &-grid {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 2rem;
    }
    &-item {
        box-shadow: 0 0 1px var(--color-secondary);
        background-color: var(--color-main-dark);
        border-radius: 8px;
        padding: 1rem;
        position: relative;
        &::before {
            content: "";
            background: url(../img/img-effect-2.png) no-repeat;
            background-position: bottom right;
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            right: 0;
            opacity: .04;
        }
    }
    &-group, &-select-content {
        background-color: #040114;
        padding: 8px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column-reverse;
        border-radius: 4px;
        position: relative;
        width: 100%;
        position: relative;
    }
    &-input {
        color: rgba(255,255,255,.5);
        background-color: transparent;
        border: none;
        outline: none;
        padding: 8px;
    }
    &-select {
        height: 30px;
        width: 100%;
        background-color: transparent;
        border: none;
        color: var(--color-secondary);
        outline: none;
    }
    &-label {
        color: rgba(255,255,255,.5);
        font-size: 12px;
        text-transform: uppercase;
    }
    &-button {
        grid-row: 6;
        align-self: end;
    }
    &-button-2 {
        grid-row: 6;
        align-self: end;
    }
    &-submit {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        font-size: 17px;
        background: linear-gradient(to right, var(--color-secondary), var(--color-main-dark)); 
        cursor: pointer;
        color: var(--color-text-title);
        &:hover {
            background: linear-gradient(to right, var(--color-main-dark), var(--color-secondary)); 
        }
        &:focus {
            border: none;
            outline: none;
        }
    }
    &-message {
        width: 100%;
        display: inline-block;
        padding: .75rem;
        border: none;
        color: #fff;
        font-size: 14px;
        outline: none;
        font-weight: 400;
        resize: none;
        height: 100%;
        background-color: #040114;
    }
    @include responsive(1372px) {
        &-grid {
            margin-top: 2rem;
            grid-template-columns: 100%;
            grid-row-gap: 1rem;
        }
    }
}
.alt {
    margin-top: 2rem;
}

.fundation {
    &-content {
        width: 100%;
        margin-top: 1.5rem;
        background-color: #040114;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
    }
    &-item {
        border: 1px solid var(--color-secondary);
        border-radius: 8px;
        padding: 1rem;
    }
    &-head {
        img {
            width: 80px;
            height: 80px;
            position: relative;
            top: -50px;
            display: block;
        }
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -1.5rem;
    }
    &-wallet {
        margin-top: .80rem;
        color: var(--color-secondary);
    }
    &-button {
        margin-top: .80rem;
        margin-right: auto;
        margin-left: auto;
        display: block;
        padding: 1rem;
        border-radius: 50%;
        border: 1px solid var(--color-secondary);
        cursor: pointer;
        transition: .3s ease-in-out;
        background-color: transparent;
        &:focus {
            outline: none;
        }
        &:hover {
            transform: scale(1.05);
            transition: .3s ease-in-out;
        }
        &:active {
            transform: scale(0.8);
            transition: .3s ease-in-out;
        }
        i{
            font-size: 1.7rem;
            color: var(--color-text-title);
        }
    }
    @include responsive(530px) {
        &-item {
            border: none;
            width: 100%;
        }
        &-wallet {
            width: 100%;
            text-align: center;
            font-size: 14px;
        }
        &-content {
            padding: .60rem;
        }
    }
    @include responsive(450px) {
        &-wallet {
            font-size: 12px;
        }
    }
}